<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://192.168.1.254:5432/Empresa</property>
        <property name="hibernate.connection.username">super_user</property>
        <property name="hibernate.connection.password">123456Ax+</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <!-- Opcionales: informativos -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <!-- Entidades -->
        <mapping class="com.pepe.p20241009.Models.Componente"/>
        <mapping class="com.pepe.p20241009.Models.Articulo"/>
        <mapping class="com.pepe.p20241009.Models.Envio"/>
        <mapping resource="Proveedor.hbm.xml"/>
	</session-factory>
</hibernate-configuration>